#!/usr/local/bin/msh cfn
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: 'sam-app

  {{.Project}} {{.CustomData.FunctionName}} SAM config

  '
Globals:
  Function:
    Timeout: 3
Resources:
  {{.CustomData.FunctionName}}Function:
    Type: AWS::Serverless::Function
    Properties:
      PackageType: Image
      ImageUri: {{.CustomData.ImageUri}}
      Events:
        {{.CustomData.FunctionName}}:
          Type: Api
          Properties:
            Path: /exec/functions/function/invocations
            Method: post
    Metadata:
      DockerTag: ruby2.7-v1
      DockerContext: .
      Dockerfile: Dockerfile
Outputs:
  {{.CustomData.FunctionName}}Api:
    Description: "API Gateway endpoint URL for Prod stage for Hello World function"
    Value: !Sub "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/exec/functions/function/invocations"
  {{.CustomData.FunctionName}}Function:
    Description: {{.Project}} {{.CustomData.FunctionName}} Lambda Function ARN
    Value:
      Fn::GetAtt:
      - {{.CustomData.FunctionName}}Function
      - Arn
  {{.CustomData.FunctionName}}FunctionIamRole:
    Description: Implicit IAM Role created for {{.Project}} {{.CustomData.FunctionName}} function
    Value:
      Fn::GetAtt:
      - {{.CustomData.FunctionName}}FunctionRole
      - Arn
